.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(3,0,20,.08);
  backdrop-filter: blur(16px);
  .navbar-brand{
    color: white;
  }

  &-nav{
    padding: 10px;
    padding-left: 10px;
    border-radius: 40px;
    border: 1px solid rgba(255,255,255,.08);
    background: rgba(255,255,255,.02);
    // gap: 4px;
    // justify-content: center;
    align-items: center;
    .nav-item{
      margin: 0 12px;
    color: #ffffffe6;
    display: block;
    cursor: pointer;
    }

  }
  .auth-nav{
    gap: 12px;
    .nav-item{
      cursor: pointer;
      color: white;

    }
  }
}

.sidebar{
  min-width: 300px;
  ul{
    li{
      color: white;
    }
  }
  .filter{
    padding: 4px 0;
    p{
      margin-bottom: 4px;
    }
  }
  .category{
    &-title{
      color: white;
    }
    &-label{
      color: rgba(255, 255, 255, 0.9019607843);
      margin-bottom: 0px;
      font-size: 12px;
      font-weight: 600;
      display: flex;
      align-items: center;
    }
  }
}